In [1]:
import requests
import json
from lxml import etree
import pandas as pd
import re
import math

In [5]:
def parse_image_Json(image_list):#保留置信度最高的图片描述
    max = 0
    sentence = ''
    for eachShopInfo in image_list:
        prob = float(eachShopInfo.get('prob'))
        if prob > max :
            sentence = eachShopInfo.get('sentence')
            max = prob
    caption_data = pd.DataFrame({'sentence':[sentence],'prob':[max]})
    return caption_data
def get_image(author_name , num):
    photourl_1 = 'http://120.79.8.250:8080/wwwroot/NIC_DATA/photo_test/'
    photourl_2 = author_name + '/'+ author_name + '.'+ str(num) +'.jpg'
    page = getPage(photourl_1 + photourl_2)
    image_json=page.json()[0]
    image_list = image_json.get('captions')
    return image_list
def getPage(photourl):
    purl='https://v0fkjw6l82.execute-api.us-west-2.amazonaws.com/prod/auto-alt-text-api?'
    params = {
        'url' : photourl 
    }
    page = requests.get(purl,params=params)
    return page

In [6]:
author_name = '1069f66c9d5862f860277d32780ac459'
image_data = pd.DataFrame()

In [7]:
for i in range(10):
    image_list = get_image(author_name,i)
    image_data = image_data.append(parse_image_Json(image_list))
image_data

                                            sentence      prob
0     several bottles of wine sitting on a counter .  0.000247
0     a man in a suit and tie holding a cell phone .  0.000009
0   a woman in a red shirt is talking on a cellphone  0.000020
0     a man in a suit and tie holding a cell phone .  0.000011
0                   a close up of a pair of scissors  0.002374
0  a woman in a white dress holding a white frisb...  0.000009
0    a group of people standing next to each other .  0.000233
0                    a man wearing a tie and a hat .  0.000092
0           a piece of cake on a plate with a fork .  0.000728
0  a red fire hydrant sitting in the middle of a ...  0.000486

In [9]:
'''
# -*- coding: utf-8 -*-
import oss2
import os

# 阿里云主账号AccessKey拥有所有API的访问权限，风险很高。强烈建议您创建并使用RAM账号进行API访问或日常运维，请登录 https://ram.console.aliyun.com 创建RAM账号。
auth = oss2.Auth('LTAI4FjUuz55fhMN8gQP3huC', 'SugSvELvDLugvWYOOziZeNnOnDLII6')
# Endpoint以杭州为例，其它Region请按实际情况填写。
bucket = oss2.Bucket(auth, 'http://oss-cn-shenzhen.aliyuncs.com', 'ljy0001')

# 必须以二进制的方式打开文件，因为需要知道文件包含的字节数。
with open('F:\\github\\Book-KnowledgeGraph-Recommendation\\NIC\\ImageData\\photo_train\\1a6ce29582265a11b005501fbb92e9f8\\1a6ce29582265a11b005501fbb92e9f8.0.jpg', 'rb') as fileobj:
    # Seek方法用于指定从第1000个字节位置开始读写。上传时会从您指定的第1000个字节位置开始上传，直到文件结束。
    #fileobj.seek(1000, os.SEEK_SET)
    # Tell方法用于返回当前位置。
    #current = fileobj.tell()
    bucket.put_object('1a6ce29582265a11b005501fbb92e9f8.0.jpg', fileobj)
'''

"\n# -*- coding: utf-8 -*-\nimport oss2\nimport os\n\n# 阿里云主账号AccessKey拥有所有API的访问权限，风险很高。强烈建议您创建并使用RAM账号进行API访问或日常运维，请登录 https://ram.console.aliyun.com 创建RAM账号。\nauth = oss2.Auth('LTAI4FjUuz55fhMN8gQP3huC', 'SugSvELvDLugvWYOOziZeNnOnDLII6')\n# Endpoint以杭州为例，其它Region请按实际情况填写。\nbucket = oss2.Bucket(auth, 'http://oss-cn-shenzhen.aliyuncs.com', 'ljy0001')\n\n# 必须以二进制的方式打开文件，因为需要知道文件包含的字节数。\nwith open('F:\\github\\Book-KnowledgeGraph-Recommendation\\NIC\\ImageData\\photo_train\\1a6ce29582265a11b005501fbb92e9f8\\1a6ce29582265a11b005501fbb92e9f8.0.jpg', 'rb') as fileobj:\n    # Seek方法用于指定从第1000个字节位置开始读写。上传时会从您指定的第1000个字节位置开始上传，直到文件结束。\n    #fileobj.seek(1000, os.SEEK_SET)\n    # Tell方法用于返回当前位置。\n    #current = fileobj.tell()\n    bucket.put_object('1a6ce29582265a11b005501fbb92e9f8.0.jpg', fileobj)\n"